@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Prompt:ital,wght@1,300;1,400&family=Signika+Negative:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans', Courier, monospace
        
}

/*clases de colores*/
.colorWhite {
    color: white
}

.colorGrey {
    color: rgb(190, 191, 193)
}

.colorVerde {
    color: rgb(52, 133, 52)
}



.colorCeleste {
    background-color: rgb(25, 166, 218);
    color: white;
}

.colorAmarillo {
    background-color: rgb(237, 204, 18);
}

.colorGris {
    background-color: rgb(53, 58, 64);
    color: white;
}

.colorRojo {
    background-color: red;
    color: white;
}

.colorDeFondoVerde {
    background-color: rgb(157, 207, 52);
}

.colorTransparente {

    background-color: transparent;
}

/* nav   */


.logoNav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(53, 58, 64);
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;

}

.logoyTitle {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

    .logoCaC {
        height: 10vh;
        width: auto;
        padding-bottom: 5px;
    }
}



.listaHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: space-evenly;
    align-items: normal;

    .linkNav {
        text-decoration: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}



/* main*/

.conferencia {
    border-top: 750px;
    height: 100vh;
    align-items: end;
    background-image: url(../assets/ba1.jpg); 
    background-size: cover;
    
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}
.conferencia::before {
    border-top: 750px;
    height: 100vh;
    align-items: end;
    content: "";
    position:absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.5);  
    opacity: 1; 
    pointer-events: none; 
    }

.conferencia .conf {
   /* position: relative; */
    z-index: 1;
}

.conf {
    height: 50%;
    width: 50%;
    margin-right: 100px;

}

.conf h1 {
    text-align: end;
}

.conf p {
    margin: 25px 25px 25px 0px;
}

.conf a {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}


.oradores {
    height: 100vh;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    text-align: center;

}

.cuerpoTarjeta h2 {
    font-size: 0.75rem;
    padding-top: 20px;

}
    .letraGrande {
        font-size: 1.5rem;
    }
.cardTicket{
    margin-top:100px;
    margin-bottom: 10px;
    display:flex;
    width:75%;
    height:80%

}

.tarjeta {

    background-color: white;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
    /* bordeado de los bloques*/
    width: 30%;
    height: 70%;
    display: inline-block;
    /* se alinean los bloques*/
    margin-right: 20px;
    margin-top: 20px;
    text-align: left;

}
.tickets{
    height:80%;
    width:80%;
}
.bordeCeleste{
   border:2px solid #0fbfcf;
   text-decoration: none; 
   transition: background-color 0.5s;
}
.bordeCeleste:hover{
    background-color: #94c4f6;
}

.bordeAmarillo{
    border:2px solid #f2ca06;
    text-decoration: none; 
    transition: background-color 0.5s;
}  
.bordeAmarillo:hover{
    background-color: #e5f47e;
} 
.cuerpoTickets{
    display:flex;
    flex-direction: column;
    align-items: center;
    transition: color 0.3s
}


.tarjeta img {
    width: 100%;
    height: 60%;
    object-fit: cover;

    border-radius: 5px 5px 0px 0px;
}

.cuerpoTarjeta {
    margin: 10px;
}

.cuerpoTarjeta h4 {
    display: inline-block;
    border-radius: 5px;
    margin-right: 5px;
    padding: 2px 7px;
}

.tituloNom {
    margin-top: 5px;
    margin-bottom: 20px;
}


.lugarFecha {
    display: flex;

}

.lugarFecha img {
    height: 50vh;
    width: 500vh;

}


.lugarFecha__texto {
    background-color: rgb(63, 62, 62);
    padding: 20px;

}

.lugarFecha__texto a {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.formularioOrador {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

}
.formularioTicket {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

}
.formularioTicket h2{
    display: flex;
    flex-direction: column;
  justify-content: center;
    align-items: center
}

form {
    width: 750px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;


}

form .boton {
    width: 100%;
    height: 40px;
    margin: 5px 10px 5px 0px;
    border-radius: 6px;
    font-size: x-large;
}

.nombres {
    width: 100%;
    margin: 20px;
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;

    #name {
        width: 48%
    }

    #apellido {
        width: 48%
    }
}
.cantCate {
    width: 100%;
  
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
    
}
.cantidad  {
    display:flex;
    flex-direction: column;
    width:100%;
    
}
.totalAPagar{
    background-color: #0fbfcf;
    width:95%;
    border:1px solid #0750bd;
    padding:2px;
    border-radius: 2px;   
}
.totalAPagar p{color:#151d2c}



.categoria {
    display:flex;
    flex-direction: column;
    width: 100%
}
#cantidad{
    width:95%
}


#comentario {
    width: 100%;
    height: 100%;
}
.correo {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
#correo{
    width: 100%;

}


p {
    width: 100%;
    padding-bottom: 10px;
}


.comentarioYboton {
    width: 100%;

}
.subtitulo{
    margin-bottom: 0%;
    padding: 10px;
    }
.botones{
    display:flex;
    width:100%;
}




.formularioOrador h2 {
    font-size: 0.75rem;
    padding-top: 20px;

    .letraGrande {
        font-size: 1.5rem;
    }
}



/* footer*/
.footer {
    height: 150px;
    background-image: linear-gradient(to right, #1d3744, #1d3e4f, #1d455a, #1d4c66, #1e5372);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;

    .linkFooter {
        text-decoration: none;

    }

}

/* MOBILE*/

@media screen and (max-width:650px) {


    /* nav   */
    
    
    .logoNav {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgb(53, 58, 64);
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: space-around;
        justify-content: space-evenly;
        align-items: center;
    
    }
    
    .logoyTitle {
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
    
        .logoCaC {
            height: 10vh;
            width: auto;
            padding-bottom: 5px;
        }
    }
    
    
    
    .listaHeader {
        display: flex;
        flex-direction: column;
        
        align-items: center;
    
        .linkNav {
            text-decoration: none;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    
    
    
    /* main*/
    
    .conferencia {
        border-top: 750px;
        height: 100vh;
        align-items: end;
        background-image: url(../assets/ba1.jpg); 
        background-size: cover;
        
        background-repeat: no-repeat;
        background-position: center bottom;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    
    }
    .conferencia::before {
        border-top: 750px;
        height: 100vh;
        align-items: end;
        content: "";
       position:absolute;
        top: 110px;
        left: 0;
        width: 100%;
        height: 78%;
        background-color: rgba(0, 0, 0, 0.5);  
        opacity: 1; 
        pointer-events: none; 
        }
    
    .conferencia .conf {
       /* position: relative; */
        z-index: 1;
    }
    
    .conf {
        height: 50%;
        width: 50%;
        margin-right: 100px;
    
    }
    
    .conf h1 {
        text-align: end;
    }
    
    .conf p {
        margin: 25px 25px 25px 0px;
    }
    
    .conf a {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid #ccc;
        color: white;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
    }
    
    
    .oradores {
        
        height: 100vh;
        background-color: white;
        width: 95%;
        margin: 0 auto;
        margin-bottom:200px;
        text-align: center;
    
    }
    
    .cuerpoTarjeta h2 {
        font-size: 0.75rem;
        padding-top: 20px;
    
    }
        .letraGrande {
            font-size: 1.5rem;
        }
    .cardTicket{
        margin-top:100px;
        margin-bottom: 10px;
        display:flex;
        width:75%;
        height:80%
    
    }
    
    .tarjeta {
        
        background-color: white;
        border: 1px solid rgb(182, 182, 182);
        border-radius: 5px;
        /* bordeado de los bloques*/
        width: 30%;
        height: 50%;
        display: inline-block;
        /* se alinean los bloques*/
        margin-right: 2px;
        margin-top: 20px;
        text-align: left;
    
    }
    .tickets{
        height:80%;
        width:80%;
    }
    .bordeCeleste{
       border:2px solid #0fbfcf;
       text-decoration: none; 
       transition: background-color 0.5s;
    }
    .bordeCeleste:hover{
        background-color: #94c4f6;
    }
    
    .bordeAmarillo{
        border:2px solid #f2ca06;
        text-decoration: none; 
        transition: background-color 0.5s;
    }  
    .bordeAmarillo:hover{
        background-color: #e5f47e;
    } 
    .cuerpoTickets{
        display:flex;
        flex-direction: column;
        align-items: center;
        transition: color 0.3s
    }
    
    .tresTarjetas{
        display:flex;

    }
    .tarjeta img {
        width: 100%;
        height: 60%;
        object-fit: cover;
    
        border-radius: 5px 5px 0px 0px;
    }
    
    .cuerpoTarjeta {
        margin: 10px;
    }
    
    .cuerpoTarjeta h4 {
        display: inline-block;
        border-radius: 5px;
        margin-right: 5px;
        padding: 2px 7px;
    }
    
    .tituloNom {
        margin-top: 5px;
        margin-bottom: 20px;
    }
    
    
    .lugarFecha {
        display: flex;
        flex-direction:column;
    
    }
    
    .lugarFecha img {
        height:100%;
        width: 100%;
    
    }
    
    
    .lugarFecha__texto {
        background-color: rgb(63, 62, 62);
        padding: 20px;
    
    }
    
    .lugarFecha__texto a {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid #ccc;
        color: white;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
    }
    
    .formularioOrador {
        width:75%;
        height:75%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    
    }
    .formularioTicket {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    
    }
    .formularioTicket h2{
        display: flex;
        flex-direction: column;
      justify-content: center;
        align-items: center
    }
    
    form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap:wrap;
        align-content:space-between;
    
    
    }
    
    form .boton {
        width: 100%;
        height: 40px;
        margin: 5px 10px 5px 0px;
        border-radius: 6px;
        font-size: x-large;
    }
    
    .nombres {
        width: 70%;
        margin: 20px;
        display: flex;
        padding-bottom: 10px;
        justify-content: space-between;
    
        #name {
            width: 48%
        }
    
        #apellido {
            width: 48%
        }
    }
    .cantCate {
        width: 70%;
        display: flex;
        padding-bottom: 10px;
        justify-content: center;
        
    }
    .cantidad  {
        display:flex;
        flex-direction: column;
        width:70%;
        
    }
    .totalAPagar{
        background-color: #0fbfcf;
        width:70%;
        border:1px solid #0750bd;
        padding:2px;
        border-radius: 2px;   
    }
    .totalAPagar p{color:#151d2c}
    
    
    
    .categoria {
        display:flex;
        flex-direction: column;
        width: 100%
    }
    #cantidad{
        width:95%
    }
    
    
    #comentario {
        width: 70%;
        height: 100%;
    }
    .correo {
        width: 70%;
        height: 100%;
        margin-bottom: 10px;
    }
    #correo{
        width: 100%;
    
    }
    
    
    p {
        width: 100%;
        padding-bottom: 10px;
    }
    
    
    .comentarioYboton {
        width: 100%;
    
    }
    .subtitulo{
        margin-bottom: 0%;
        padding: 10px;
        }
    .botones{
        display:flex;
        flex-direction:column;
        width:70%;
    }
    
    
    
    
    .formularioOrador h2 {
        font-size: 0.75rem;
        padding-top: 20px;
    
        .letraGrande {
            font-size: 1.5rem;
        }
    }
 
    /* footer*/
    .footer {
        height: 250px;
        background-image: linear-gradient(to right, #1d3744, #1d3e4f, #1d455a, #1d4c66, #1e5372);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    
        .linkFooter {
            text-decoration: none;
    
        }}
    }
    